[user]
  email = alexgenco@gmail.com
  name = Alex Genco
[alias]
  st = status
  co = checkout
  ci = commit -v
  br = branch
  dc = diff --cached
  hist = log --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(red)%s %C(bold red){{%an}}%C(reset) %C(blue)%d%C(reset)' --graph --date=short
[color]
	ui = true
[github]
  user = alexgenco
[grep]
  extendRegexp = true
  lineNumber = true
[push]
  default = simple
[diff]
  tool = vimdiff
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
