[user]
  email = alexgenco@gmail.com
  name = Alex Genco
[alias]
  st = status
  co = checkout
  ci = commit -v
  br = branch
  dc = diff --cached
[color]
  ui = true
[github]
  user = alexgenco
[grep]
  extendRegexp = true
  lineNumber = true
[push]
  default = simple
[diff]
  tool = vimdiff
