/vim/.vim/undo
/vim/.vim/doc
/vim/.vim/plugged
/vim/.vim/.netrwhist
/vim/.vim/.VimballRecord
/nvim/.config/nvim/.init.vim-rplugin~
/nvim/.config/nvim/shada
/nvim/.config/nvim/.netrwhist
/bash/.logs/*
!/bash/.logs/.gitkeep
