/editor/.vim/undo
/editor/.vim/view
/editor/.vim/doc
/editor/.vim/autoload/plug.vim
/editor/.vim/plugged
/editor/.vim/.netrwhist
/editor/.vim/.VimballRecord
/editor/.vim-tmp/*
/editor/.config/nvim/.init.vim-rplugin~
/editor/.config/nvim/shada
/editor/.config/nvim/.netrwhist
/shell/.config/kitty/local.conf
/shell/.config/kitty/themes
/shell/.logs/*
!/shell/.logs/.gitkeep
!/editor/.vim-tmp/.gitkeep
